@media screen and (max-width: 1167px) {
    h1{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.2rem;
    }

    #btn{
        font-size: 1rem;
    }

    main{
        width: 60%;
    }
}

@media screen and (max-width: 970px) {
    main{
        width: 70%;
    }
    
    h1{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    #btn{
        font-size: 0.9rem;
    }

    .lista > input{
        font-size: 1rem;
        color: blueviolet;
    }

    .lista2 > input{
        font-size: 1rem;
    }
}

@media screen and (max-width: 817px) {
    main{
        width: 76%;
    }
    
    h1{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.2rem;
    }

    #btn{
        font-size: 0.8rem;
    }

    .lista > input{
        font-size: 1rem;
        color: blueviolet;
    }

    .lista2 > input{
        font-size: 1rem;
    }
}

@media screen and (max-width: 865px) {
    main{
        width: 90%;
    }
    h1{
        font-size: 1rem;
    }

    h3{
        font-size: 1rem;
    }

    #btn{
        font-size: 0.8rem;
    }

    .lista > input{
        font-size: 1rem;
        color: blueviolet;
    }

    .lista2 > input{
        font-size: 1rem;
    }
}