* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(219, 218, 218);
}

main{
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    width: 78dvh;
    padding: 20px;
    /* margin-top: 12%; */
    background-color: rgba(243, 239, 239, 0.5);
    /* box-shadow: 1px 2px 1px black; */
    border-radius: 1%;
    height: 90vh;
}


h1{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 26pt;
    padding: 0;
    color: #271655;
}

h3{
    margin-bottom: 1%;
    margin-left: 3%;
    font-size: 22pt;
    margin-top: 0;
    color: #271655;


}


.select_vertice{
    width: max-content;
    margin-right: 10px;
}
input{
    border: none;
    outline: none;
}

.campo_selecao{
    border:1px solid black;
    height: 2rem;
}

.campo_selecao,.vertice, .lista{
    width: 100%;
    background-color: white;
}

.seta_baixo{
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 40%;

}
.vertice{
    display: block;
    padding-left: 0;
}

.rotate180{
    transform: rotate(180deg);
}

.select_rel {
    width: 48%;
    margin-left: 10px;
}
.campo_selecao2, .rel, .lista2 {
    width: 100%;
    background-color: white;
}

.campo_selecao2{
    height: 2rem;
}
.select_vertice{
    width: 50%;
}

.campo_selecao2{
    border: 1px solid black;
}

.lista{
    box-shadow: 0 10px 60px rgb(0,0,0, 0.2);
    padding: 0.3rem;
    padding-left: 0;
    display: block;
    width: 99%;
    font-weight: 600;
   
}

.lista2{
    box-shadow: 0 10px 60px rgb(0,0,0, 0.1);
    padding: 0.3rem;
    padding-left: 0;
    display: block;
    width: 98%;
    font-weight: 600;
}

.seta_baixo2{
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-left: 40%;
}

.rel{
    display: block;
    padding-left: 0;
}

.show{
    display: block;
    width: 98%;
    font-weight: 600;

}

.show2{
    display: block;
    width: 98%;
    font-weight: 600;
    background-color: rgb(252, 250, 250);
}
.rotate1802{
    transform: rotate(180deg);
}

section{
    /* display: flex; */
    /* margin-bottom: 20px; */
    /* margin-top: 80px; */
    align-items: center;
    justify-content: center;
    border: 1px dashed rgb(182, 180, 180);
    padding-bottom: 1%;
    /* padding-left: 1%;
    padding-right: 1%; */
    padding-top: 2%;
    /* padding-left: 1px; */
    padding-right: 1px;
    margin-top: 9%;
}

#form_1{
    display: flex;
}



#prop, #val{
    width: 436px;
    border: 1px solid black;
}


#btn{
    display: block;
    background-color: #686080;
    color: white;
    border: none;
    border-radius: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-top: 1%;
    width: 18%;
    font-size: 14pt;
    font-weight: 400;
    border: 1px solid black;
}

#btn:hover, #btn2:hover{
    background-color: #F2F1F1;
    color: #686080;
    font-weight: 600;
    cursor: pointer;

}

#form_1{
    margin-bottom: 6%;
}

#form_2{
    margin-top: 6%;
}

#form2{
    display: flex;
}


#btn2{
    display: inline-block;
    border: none;
    border-radius: 1.2rem;
    width: 16%;
    margin-left: 2%;
    background-color: #686080;
    color: white;
    font-size: 13pt;
    font-weight: 400;
    border: 1px solid black;
    height: 38px;
}


.x{
    font-weight: bold;
}

.msg{
    display: none;
    color: red;
    font-size: 0.8rem;
}

ul{
    list-style: none;
    border-left: 1px solid rgb(68, 68, 143);
    border-right: 1px solid rgb(68, 68, 143);
    border-bottom: 1px solid rgb(68, 68, 143);
    display: none;
    width: 64%;
    cursor: pointer;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 8%;
    padding-left: 0;
    background-color: white;
}


ol, ul {
    padding-left: 1rem;
}

li{
    margin-left: 0;
    padding: 0;
}


#nomes{
    width: 66%;
    border: 1px solid #453572;
    border-radius: 1.2rem;
    height: 28px;
    margin-left: 6%;
    padding: 5px;
    padding-left: 24px;
}

#tit_entidades{
    margin-left: 10%;
}

#tit_vert{
    margin-left: 6%;
}