<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Pesquisa Grafo</title>
</head>
<body>
    <main>
    <h1>Pesquisa Web Semântica</h1>
    <form action="/pesquisa">
    <section>
    <div class="select_vertice">
        <h3>Vértices</h3>
        <div class="campo_selecao">
            <input type="text" placeholder="escolha vertices" id="select_input" class="seletor_input" value="" name="vertice">
            <span class="seta_baixo"> &blacktriangledown;</span>
        </div>
<!---lista dos checkboxes para caixa de seleção multipla-->
        <div class="lista">
            <label for="vert1" class="vertice">
            <input type="checkbox" name="" id="vert1" value="Entity">
            Entity
            </label>
            <label for="vert2" class="vertice">
            <input type="checkbox" name="" id="vert2" value="File">
            File
            </label>
            <label for="vert3" class="vertice">
            <input type="checkbox" name="" id="vert3" value="Type">
            Type
            </label> 
            <label for="vert4" class="vertice">
                <input type="checkbox" name="" id="vert4" value="Tudo">
                Tudo
                </label>       
        </div>
    </div>

    <div class="select_rel">
        <h3>Relacionamentos</h3>
        <div class="campo_selecao2">
        <input type="text" placeholder="escolha relacionamentos" id="rel_id" class="rel_class" value="" name="relacionamento" >
        <span class="seta_baixo2"> &blacktriangledown;</span>
        </div>

        <!----Lista dos checkboxes para caixa de selecao multipla-->
        <div class="lista2">
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel1" value="Pertence">
                Pertence
            </label>
            <label for="rel2" class="rel">
                <input type="checkbox" id="rel2" value="É">
                É
            </label>
            <label for="rel3" class="rel">
                <input type="checkbox" id="rel3" value="Tudo">
                Tudo
            </label>
        </div>
    </div>
    <br><br>
    <input type="submit" value="Pesquisar" class="btn btn-primary" id="btn">
</form>
</section>
<!-- <label for="prop" class="form-label">
     <span class="x">Propriedade</span>
    <input type="text" name="prop" class="form-control" placeholder="Propriedade" id="prop">
</label> -->
<form action="localhost:5000/pesquisa/nomes" method="post">
<h4>Entidades</h4>
<label for="valor" class="form-label" id="form2">
     <!-- <span class="x">Nome</span> -->
    <input type="text" name="val" placeholder="Digite o nome da Entidade" class="form-control" id="nomes">
    <input type="submit" value="Pesquisar" class="btn btn-primary" id="btn2">
</label>
<ul id="caixa_nomes"></ul>
</form>
</main>

    <script src="..\static\script.js"></script>
    <script src="..\static\script2.js"></script>
    <script src="../static/script3.js"></script>
    <script src="../static/searchbar.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>