<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Pesquisa Grafo</title>
</head>
<body>
    <main>
    <h1>Pesquisa Web Semântica</h1>
    <form action="/pesquisa">
    <section>
    <div class="select_vertice">
        <h3>Vértices</h3>
        <div class="campo_selecao">
            <input type="text" placeholder="escolha vertices" id="select_input" class="seletor_input" value="" name="vertice">
            <span class="seta_baixo"> &blacktriangledown;</span>
        </div>
<!---lista dos checkboxes para caixa de seleção multipla-->
        <div class="lista">
            <label for="vert1" class="vertice">
            <input type="checkbox" name="" id="vert1" value="vertice1">
            vertice 1
            </label>
            <label for="vert2" class="vertice">
            <input type="checkbox" name="" id="vert2" value="vertice2">
            vertice 2
            </label>
            <label for="vert3" class="vertice">
            <input type="checkbox" name="" id="vert3" value="vertice3">
            vertice 3
            </label>     
            <label for="vert4" class="vertice">
            <input type="checkbox" name="" id="vert4" value="vertice4">
            vertice 4
            </label>
            <label for="vert" class="vertice">
            <input type="checkbox" name="" id="vert5" value="vertice5">
            vertice 5
            </label>
        </div>
    </div>

    <div class="select_rel">
        <h3>Relacionamentos</h3>
        <div class="campo_selecao2">
        <input type="text" placeholder="escolha relacionamentos" id="rel_id" class="rel_class" value="" name="relacionamento" >
        <span class="seta_baixo2"> &blacktriangledown;</span>
        </div>

        <!----Lista dos checkboxes para caixa de selecao multipla-->
        <div class="lista2">
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel1" value="rel1">
                relacionamento 1
            </label>
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel2" value="rel2">
                relacionamento 2
            </label>
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel3" value="rel3">
                relacionamento 3
            </label>
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel4" value="rel4">
                relacionamento 4
            </label>
            <label for="rel1" class="rel">
                <input type="checkbox" id="rel5" value="rel5">
                relacionamento 5
            </label>
        </div>
    </div>
</section>
<label for="prop" class="form-label">
     <span class="x">Propriedade</span>
    <input type="text" name="prop" class="form-control" placeholder="Propriedade" id="prop">
</label>
<br>
<label for="valor" class="form-label">
     <span class="x">Valor</span>
    <input type="text" name="val" placeholder="Valor" class="form-control" id="val">
</label>
<p class="msg">Você precisa preencher o campo da propriedade para depois preencher o campo valor</p>
<br><br>
    <input type="submit" value="Pesquisar" class="btn btn-primary" id="btn">
</form>
</main>

    <script src="..\static\script.js"></script>
    <script src="..\static\script2.js"></script>
    <script src="../static/script3.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>