<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de grafo</title>
    <a href="/">Nova Pesquisa</a>
    <p>
        <ul>
            <li>
                Vertice: {{vertice}}
            </li>
            <li>
                Relacionamento: {{rel}}
            </li>
            <li>
                Propriedade: {{prop}}
            </li>

            <li>
                Valor da propriedade: {{val}}
            </li>
        </ul>
    </p>

    <frame>
        {{grafico}}
    </frame>
</head>
<body>
    
</body>
</html>